<!DOCTYPE html>
<html>
<head>
    <title>Instadrop - automatically sync your Instagram photos to Dropbox</title>
</head>
<body style="font-family:'Helvetica Neue'">
    <a href="http://github.com/Instagram/Instadrop"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://assets1.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_red_aa0000.png&path=" alt="Fork me on GitHub"></a>
    <div style="margin:50px auto;width:550px;position:relative">
        <h1>
            Great news! <br/><br/>Both your Instagram
            and Dropbox accounts are connected.
            <br /> <br /> Starting now, every time you take a picture using
            Instagram, it will be automatically be pushed to your Dropbox
            &mdash; in real-time!
        </h1>
        <div style="position:relative">
            <br /> <br />
            <div style:"position:absolute;left:0">
                <h1 style="display:inline;margin:0">*\(^o^)/*</h1>
            </div>
            <div style="position:absolute;right:0;margin:0">
                Photos are placed in an "Instagram Photos" folder.
            </div>
        </div>
        <br /> <br />
        <div style="position:absolute;right:0;">
            <h4><a href="/instagram/disconnect">Disconnect Instagram</a></h4>
            <h4><a href="/dropbox/disconnect">Disconnect Dropbox</a></h4>
        </div>
    </div>
</body>
